<div class="jumbotron">
    <h1>HyperCat Server</h1>
    <p class="lead">NoSQL based HyperCat Server.</p>
    <p><a href="http://wiki.1248.io/doku.php" class="btn btn-primary btn-lg">Learn more about Hypercat Specification</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>HyperCat Server manages Hypercat Catalouges within the NoSQL datastore. It's using RavenDB as a backend NoSQL database.
        The API allows the consumers to create and fetch catalouges</p>
    </div>
</div>
